In [1]:
import pandas as pd
import math
import xlsxwriter

In [2]:
df = pd.read_excel(r'/Users/oat/Desktop/งาน/data_mai.xlsx',sheet_name=None,skiprows=1)

In [3]:
SET = pd.read_excel(r'/Users/oat/Desktop/งาน/data_sett.xlsx',sheet_name=None,skiprows=1)

In [4]:
Symbol = ['mai', 'A5', 'ABICO', 'ABM', 'ACAP', 'ADB', 'ADD', 'AF', 'AIE', 'AIRA', 'AKP', 'ALL', 'AMA', 'APP', 'ARIN', 'ARIP', 'ARROW', 'ASN', 'ATP30', 'AU', 'AUCT', 'BC', 'BGT', 'BIZ', 'BM', 'BOL', 'BROOK', 'BSM', 'BTW', 'CAZ', 'CHEWA', 'CHO', 'CHOW', 'CIG', 'CMC', 'CMO', 'COLOR', 'COMAN', 'CPR', 'CRD', 'D', 'DHOUSE', 'DIMET', 'DITTO', 'DOD', 'DV8', 'ECF', 'EFORL', 'ETE', 'FLOYD', 'FPI', 'FSMART', 'FVC', 'GCAP', 'GSC', 'GTB', 'HARN', 'HEMP', 'HPT', 'HYDRO', 'ICN', 'IIG', 'IMH', 'IND', 'INSET', 'IP', 'IRCP', 'ITEL', 'JAK', 'JCKH', 'JSP', 'JUBILE', 'K', 'KASET', 'KCM', 'KK', 'KOOL', 'KUMWEL', 'KUN', 'KWM', 'LDC', 'LEO', 'LIT', 'MBAX', 'META', 'MGT', 'MITSIB', 'MOONG', 'MORE', 'MUD', 'MVP', 'NBC', 'NCL', 'NDR', 'NETBAY', 'NEWS', 'NINE', 'NPK', 'OCEAN', 'OTO', 'PACO', 'PDG', 'PHOL', 'PICO', 'PIMO', 'PJW', 'PLANET', 'PPM', 'PPS', 'PRAPAT', 'PROEN', 'PROS', 'PROUD', 'PSTC', 'QLT', 'RP', 'RWI', 'SAAM', 'SALEE', 'SANKO', 'SE', 'SEAOIL', 'SECURE', 'SELIC', 'SFT', 'SGF', 'SICT', 'SIMAT', 'SK', 'SLM', 'SMART', 'SMD', 'SONIC', 'SPA', 'SPVI', 'SR', 'STAR', 'STC', 'STI', 'STOWER', 'SWC', 'T', 'TACC', 'TAKUNI', 'TAPAC', 'THANA', 'THMUI', 'TIGER', 'TITLE', 'TM', 'TMC', 'TMI', 'TMILL', 'TMW', 'TNDT', 'TNH', 'TNP', 'TPAC', 'TPCH', 'TPLAS', 'TPS', 'TQR', 'TRT', 'TSF', 'TVD', 'TVT', 'UBIS', 'UEC', 'UKEM', 'UMS', 'UPA', 'UREKA', 'VCOM', 'VL', 'WINMED', 'WINNER', 'XO', 'YGG', 'YUASA', 'ZIGA']
Symbol_SET = ['SET','2S', '3K-BAT', '7UP', 'A', 'AAV', 'ABPIF', 'ACC', 'ACE', 'ACG', 'ADVANC', 'AEONTS', 'AFC', 'AGE', 'AH', 'AHC', 'AI', 'AIMCG', 'AIMIRT', 'AIT', 'AJ', 'AJA', 'AKR', 'ALLA', 'ALLY', 'ALT', 'ALUCON', 'AMANAH', 'AMARIN', 'AMATA', 'AMATAR', 'AMATAV', 'AMC', 'AMR', 'ANAN', 'AOT', 'AP', 'APCO', 'APCS', 'APEX', 'APURE', 'AQ', 'AQUA', 'AS', 'ASAP', 'ASEFA', 'ASIA', 'ASIAN', 'ASIMAR', 'ASK', 'ASP', 'ASW', 'AWC', 'AYUD', 'B', 'B52', 'BA', 'BAFS', 'BAM', 'BANPU', 'BAY', 'BBL', 'BCH', 'BCP', 'BCPG', 'BCT', 'BDMS', 'BEAUTY', 'BEC', 'BEM', 'BFIT', 'BGC', 'BGRIM', 'BH', 'BIG', 'BJC', 'BJCHI', 'BKD', 'BKI', 'BKKCP', 'BLA', 'BLAND', 'BLISS', 'BOFFICE', 'BPP', 'BR', 'BROCK', 'BRR', 'BRRGIF', 'BSBM', 'BTNC', 'BTS', 'BTSGIF', 'BUI', 'BWG', 'B-WORK', 'BYD', 'CBG', 'CCET', 'CCP', 'CEN', 'CENTEL', 'CFRESH', 'CGD', 'CGH', 'CHARAN', 'CHAYO', 'CHG', 'CHOTI', 'CI', 'CIMBT', 'CITY', 'CK', 'CKP', 'CM', 'CMAN', 'CMR', 'CNT', 'COM7', 'COTTO', 'CPALL', 'CPF', 'CPH', 'CPI', 'CPL', 'CPN', 'CPNCG', 'CPNREIT', 'CPT', 'CPTGF', 'CPW', 'CRANE', 'CRC', 'CSC', 'CSP', 'CSR', 'CSS', 'CTARAF', 'CTW', 'CWT', 'DCC', 'DCON', 'DDD', 'DELTA', 'DEMCO', 'DIF', 'DMT', 'DOHOME', 'DREIT', 'DRT', 'DTAC', 'DTCI', 'DUSIT', 'EA', 'EASON', 'EASTW', 'ECL', 'EE', 'EGATIF', 'EGCO', 'EKH', 'EMC', 'EP', 'EPG', 'ERW', 'ERWPF', 'ESSO', 'ESTAR', 'ETC', 'EVER', 'F&D', 'FANCY', 'FE', 'FMT', 'FN', 'FNS', 'FORTH', 'FPT', 'FSS', 'FTE', 'FTREIT', 'FUTUREPF', 'GAHREIT', 'GBX', 'GC', 'GEL', 'GENCO', 'GFPT', 'GGC', 'GIFT', 'GJS', 'GL', 'GLAND', 'GLOBAL', 'GLOCON', 'GOLDPF', 'GPI', 'GPSC', 'GRAMMY', 'GRAND', 'GREEN', 'GROREIT', 'GSTEEL', 'GULF', 'GUNKUL', 'GVREIT', 'GYT', 'HANA', 'HFT', 'HMPRO', 'HPF', 'HREIT', 'HTC', 'HTECH', 'HUMAN', 'ICC', 'ICHI', 'IFEC', 'IFS', 'IHL', 'III', 'ILINK', 'ILM', 'IMPACT', 'INET', 'INETREIT', 'INGRS', 'INOX', 'INSURE', 'INTUCH', 'IRC', 'IRPC', 'IT', 'ITD', 'IVL', 'J', 'JAS', 'JASIF', 'JCK', 'JCT', 'JKN', 'JMART', 'JMT', 'JR', 'JTS', 'JUTHA', 'JWD', 'KAMART', 'KBANK', 'KBS', 'KBSPIF', 'KC', 'KCAR', 'KCE', 'KDH', 'KEX', 'KGI', 'KIAT', 'KISS', 'KKC', 'KKP', 'KPNPF', 'KSL', 'KTB', 'KTC', 'KTIS', 'KWC', 'KWG', 'KYE', 'L&E', 'LALIN', 'LANNA', 'LEE', 'LH', 'LHFG', 'LHHOTEL', 'LHK', 'LHPF', 'LHSC', 'LOXLEY', 'LPF', 'LPH', 'LPN', 'LRH', 'LST', 'LUXF', 'M', 'MACO', 'MAJOR', 'MAKRO', 'MALEE', 'MANRIN', 'MATCH', 'MATI', 'MAX', 'MBK', 'MBKET', 'MC', 'M-CHAI', 'MCOT', 'MCS', 'MDX', 'MEGA', 'MENA', 'METCO', 'MFC', 'MFEC', 'MICRO', 'MIDA', 'M-II', 'MILL', 'MINT', 'MIPF', 'MIT', 'MJD', 'MJLF', 'MK', 'ML', 'MNIT', 'MNIT2', 'MNRF', 'MODERN', 'MONO', 'M-PAT', 'MPIC', 'MSC', 'M-STOR', 'MTC', 'MTI', 'NC', 'NCAP', 'NCH', 'NEP', 'NER', 'NEW', 'NEX', 'NFC', 'NKI', 'NMG', 'NNCL', 'NOBLE', 'NOK', 'NOVA', 'NRF', 'NSI', 'NSL', 'NTV', 'NUSA', 'NVD', 'NWR', 'NYT', 'OCC', 'OGC', 'OHTL', 'OISHI', 'OR', 'ORI', 'OSP', 'PACE', 'PAE', 'PAF', 'PAP', 'PATO', 'PB', 'PCSGH', 'PDI', 'PDJ', 'PE', 'PERM', 'PF', 'PG', 'PK', 'PL', 'PLANB', 'PLAT', 'PLE', 'PM', 'PMTA', 'POLAR', 'POPF', 'PORT', 'POST', 'PPF', 'PPP', 'PPPM', 'PR9', 'PRAKIT', 'PREB', 'PRECHA', 'PRG', 'PRIME', 'PRIN', 'PRINC', 'PRM', 'PRO', 'PROSPECT', 'PSH', 'PSL', 'PT', 'PTG', 'PTL', 'PTT', 'PTTEP', 'PTTGC', 'PYLON', 'Q-CON', 'QH', 'QHHR', 'QHOP', 'QHPF', 'QTC', 'RAM', 'RATCH', 'RBF', 'RCL', 'RICHY', 'RJH', 'RML', 'ROCK', 'ROH', 'ROJNA', 'RPC', 'RPH', 'RS', 'RSP', 'RT', 'S', 'S & J', 'S11', 'SA', 'SABINA', 'SABUY', 'SAK', 'SAM', 'SAMART', 'SAMCO', 'SAMTEL', 'SAPPE', 'SAT', 'SAUCE', 'SAWAD', 'SAWANG', 'SBPF', 'SC', 'SCB', 'SCC', 'SCCC', 'SCG', 'SCGP', 'SCI', 'SCM', 'SCN', 'SCP', 'SDC', 'SEAFCO', 'SE-ED', 'SENA', 'SF', 'SFLEX', 'SFP', 'SGP', 'SHANG', 'SHR', 'SHREIT', 'SIAM', 'SINGER', 'SIRI', 'SIRIP', 'SIS', 'SISB', 'SITHAI', 'SKE', 'SKN', 'SKR', 'SKY', 'SLP', 'SMIT', 'SMK', 'SMPC', 'SMT', 'SNC', 'SNNP', 'SNP', 'SO', 'SOLAR', 'SORKON', 'SPACK', 'SPALI', 'SPC', 'SPCG', 'SPG', 'SPI', 'SPRC', 'SPRIME', 'SQ', 'SRICHA', 'SRIPANWA', 'SSC', 'SSF', 'SSP', 'SSPF', 'SSSC', 'SST', 'SSTRT', 'STA', 'STANLY', 'STARK', 'STEC', 'STECH', 'STGT', 'STHAI', 'STPI', 'SUC', 'SUN', 'SUPER', 'SUPEREIF', 'SUSCO', 'SUTHA', 'SVH', 'SVI', 'SVOA', 'SYMC', 'SYNEX', 'SYNTEC', 'TAE', 'TASCO', 'TBSP', 'TC', 'TCAP', 'TCC', 'TCCC', 'TCJ', 'TCMC', 'TCOAT', 'TEAM', 'TEAMG', 'TFFIF', 'TFG', 'TFI', 'TFMAMA', 'TGH', 'TGPRO', 'TH', 'THAI', 'THANI', 'THCOM', 'THE', 'THG', 'THIP', 'THL', 'THRE', 'THREL', 'TIDLOR', 'TIF1', 'TIP', 'TIPCO', 'TISCO', 'TK', 'TKN', 'TKS', 'TKT', 'TLHPF', 'TMD', 'TMT', 'TNITY', 'TNL', 'TNPC', 'TNPF', 'TNR', 'TOA', 'TOG', 'TOP', 'TOPP', 'TPA', 'TPBI', 'TPCS', 'TPIPL', 'TPIPP', 'TPOLY', 'TPP', 'TPRIME', 'TQM', 'TR', 'TRC', 'TRITN', 'TRU', 'TRUBB', 'True', 'TSC', 'TSE', 'TSI', 'TSR', 'TSTE', 'TSTH', 'TTA', 'TTB', 'TTCL', 'TTI', 'TTLPF', 'TTT', 'TTW', 'TU', 'TU-PF', 'TVI', 'TVO', 'TWP', 'TWPC', 'TWZ', 'TYCN', 'U', 'UAC', 'UMI', 'UNIQ', 'UOBKH', 'UP', 'UPF', 'UPOIC', 'URBNPF', 'UT', 'UTP', 'UV', 'UVAN', 'VARO', 'VGI', 'VIBHA', 'VIH', 'VNG', 'VNT', 'VPO', 'VRANDA', 'W', 'WACOAL', 'WAVE', 'WGE', 'WHA', 'WHABT', 'WHART', 'WHAUP', 'WICE', 'WIIK', 'WIN', 'WORK', 'WP', 'WPH', 'XPG', 'ZEN']

In [5]:
CC = pd.read_excel(r'/Users/oat/Desktop/Conclude.xlsx',sheet_name=None)

In [6]:
CC.keys()

dict_keys(['Sheet1', 'summary 5-10', 'summary 3-5'])

In [7]:
x_2 = CC['summary 3-5']
x_1 = CC['summary 5-10']

In [25]:
x_2

,0,1,2,3,4,5,6,7,8,9,...,816,817,818,819,820,821,822,823,824,825
Time,,,,,,,,,,,,,,,,,,,,,
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,SOLAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,TKT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,EFORL,7UP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-30,CIG,SPRC,RWI,ESSO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-31,IRCP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-01,MAKRO,CPALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
x_1 = x_1.set_index('Time ')

In [10]:
list_time = list()
list_symbol = list()
t = 0
for i in x_1.index:
    for u in range(6):
        if x_1.loc[i,u] == float:
            pass
        else:
            if x_1.loc[i,u] in Symbol:
                a = df[str(x_1.loc[i,u])].set_index('Time ').loc[i]
                list_time.append(i)
                list_symbol.append(x_1.loc[i,u])
            
            elif x_1.loc[i,u] in Symbol_SET:
                a = SET[str(x_1.loc[i,u])].set_index('Time ').loc[i]
                list_time.append(i)
                list_symbol.append(x_1.loc[i,u])

In [11]:
def s(x,i):
    if x.loc[i,'Open'] < 2:
        #print(0.01)
        TP = x.loc[i,'Open']+(4*0.01)
        SL = x.loc[i,'Open']-(5*0.01)


    elif 2<= x.loc[i,'Open'] < 5:
        #print(0.02)
        TP = x.loc[i,'Open']+(4*0.02)
        SL = x.loc[i,'Open']-(5*0.02)


    elif 5<= x.loc[i,'Open'] < 10:
        #print(0.05)
        TP = x.loc[i,'Open']+(4*0.05)
        SL = x.loc[i,'Open']-(5*0.05)

    elif 10<= x.loc[i,'Open'] < 25:
        #print(0.1)
        TP = x.loc[i,'Open']+(4*0.1)
        SL = x.loc[i,'Open']-(5*0.1)


    elif 25<= x.loc[i,'Open'] < 100:
        #print(0.25)
        TP = x.loc[i,'Open']+(4*0.25)
        SL = x.loc[i,'Open']-(5*0.25)


    elif 100<= x.loc[i,'Open'] < 200:
        #print(0.5)
        TP = x.loc[i,'Open']+(4*0.5)
        SL = x.loc[i,'Open']-(5*0.5)


    elif 200<= x.loc[i,'Open'] < 400:
        #print(1)
        TP = x.loc[i,'Open']+(4)
        SL = x.loc[i,'Open']-(5)


    elif x.loc[i,'Open'] >= 400:
        #print(2)
        TP = x.loc[i,'Open']+(4*2)
        SL = x.loc[i,'Open']-(5*2)


    if x.loc[i,'High'] >= TP:
        Sell = TP
        
    elif x.loc[i,'Low'] <= SL:
        Sell = SL
        
    else:
        Sell = x.loc[i,'Close']
        
    x.loc[i,'TP'] = TP
    x.loc[i,'SL'] = SL
        
    return Sell

In [12]:
Rt = pd.DataFrame(index = range(1379))

In [13]:
Rt['Time '] = list_time
Rt['Symbol'] = list_symbol

In [14]:
Rt

          Time  Symbol
0    2010-01-11   SPCG
1    2010-01-12   SPCG
2    2010-01-28    CMO
3    2010-02-10  YUASA
4    2010-02-11      D
...         ...    ...
1374 2021-08-27      U
1375 2021-08-30      T
1376 2021-08-30    AJA
1377 2021-08-30    TOP
1378 2021-08-31     TH

[1379 rows x 2 columns]

In [15]:
for i in range(len(Rt)):
    x = Rt.loc[i,'Time ']
    y = Rt.loc[i,'Symbol']
    if y in Symbol:
        k = df[y].set_index('Time ')
        Rt.loc[i,'Open'] = k.loc[x,'Open']
        Rt.loc[i,'High'] = k.loc[x,'High']
        Rt.loc[i,'Low'] = k.loc[x,'Low']
        Rt.loc[i,'Close'] = k.loc[x,'Close']
       
    elif y in Symbol_SET:
        k = SET[y].set_index('Time ')
        Rt.loc[i,'Open'] = k.loc[x,'Open']
        Rt.loc[i,'High'] = k.loc[x,'High']
        Rt.loc[i,'Low'] = k.loc[x,'Low']
        Rt.loc[i,'Close'] = k.loc[x,'Close']
    
    Rt.loc[i,'Close_Price'] = s(Rt,i)

In [16]:
Com = 0.0015
vat = 0.07

Rt['Commission'] = 0.00107


Rt['Price_buy'] = Rt['Open']*(1+0.00107)
Rt['Price_sell'] = Rt['Close_Price']*(1-0.00107)
Rt['Vol'] = (((100000/Rt['Price_buy'])*10**(-2))//1)*100
Rt['Value_Buy'] = Rt['Vol'] * Rt['Price_buy']
Rt['Value_Sell'] = Rt['Vol'] * Rt['Price_sell']
Rt['Realized'] = Rt['Value_Sell']-Rt['Value_Buy']
Rt['%Change'] = (Rt['Realized']/Rt['Value_Buy'])

In [17]:

count = 0
n_gain = 0
for i in range(len(Rt)):
    if Rt.loc[i,'Close_Price'] == Rt.loc[i,'TP']:
        count += 1
        Rt.loc[i,'Count'] = count
        
    if Rt.loc[i,'%Change'] > 0:
        n_gain += 1
        Rt.loc[i,'n_gain'] = n_gain

In [29]:
Rt.to_excel('/Users/oat/Desktop/5-10.xlsx')

In [19]:
for i in range(len(Rt)):
    if Rt.loc[i,'Symbol'] in Symbol:
        Rt.loc[i,'Symbol'] = Rt.loc[i,'Symbol']+'*'

In [20]:
Rt

,Time,Symbol,Open,High,Low,Close,TP,SL,Close_Price,Commission,Price_buy,Price_sell,Vol,Value_Buy,Value_Sell,Realized,%Change,Count,n_gain
0,2010-01-11,SPCG,7.30,8.80,7.25,8.80,7.50,7.05,7.50,0.00107,7.307811,7.491975,13600.0,99386.22960,101890.86000,2504.63040,0.025201,1.0,1.0
1,2010-01-12,SPCG,9.25,10.40,7.90,9.00,9.45,9.00,9.45,0.00107,9.259897,9.439888,10700.0,99080.90325,101006.80695,1925.90370,0.019438,2.0,2.0
2,2010-01-28,CMO*,1.56,1.56,1.40,1.46,1.60,1.51,1.51,0.00107,1.561669,1.508384,64000.0,99946.82880,96536.59520,-3410.23360,-0.034120,NaN,NaN
3,2010-02-10,YUASA*,3.76,3.84,3.24,3.30,3.84,3.66,3.84,0.00107,3.764023,3.835891,26500.0,99746.61480,101651.11680,1904.50200,0.019093,3.0,3.0
4,2010-02-11,D*,2.14,2.38,2.06,2.24,2.22,2.04,2.22,0.00107,2.142290,2.217625,46600.0,99830.70468,103341.30636,3510.60168,0.035166,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,2021-08-27,U,1.12,1.15,1.02,1.02,1.16,1.07,1.07,0.00107,1.121198,1.068855,89100.0,99898.77744,95234.98941,-4663.78803,-0.046685,NaN,NaN
1375,2021-08-30,T*,0.12,0.12,0.11,0.11,0.16,0.07,0.11,0.00107,0.120128,0.109882,832400.0,99994.88016,91466.02652,-8528.85364,-0.085293,NaN,NaN
1376,2021-08-30,AJA,0.40,0.41,0.38,0.38,0.44,0.35,0.38,0.00107,0.400428,0.379593,249700.0,99986.87160,94784.47198,-5202.39962,-0.052031,NaN,NaN
1377,2021-08-30,TOP,50.50,50.75,49.50,50.00,51.50,49.25,50.00,0.00107,50.554035,49.946500,1900.0,96052.66650,94898.35000,-1154.31650,-0.012018,NaN,NaN
1378,2021-08-31,TH,2.88,3.00,2.62,2.86,2.96,2.78,2.96,0.00107,2.883082,2.956833,34600.0,99754.62336,102306.41488,2551.79152,0.025581,709.0,751.0

In [27]:
Rt_2 = pd.DataFrame(index = range(3417))

In [28]:
list_time_2 = list()
list_symbol_2 = list()
t = 0
for i in x_2.index:
    for u in range(6):
        if x_2.loc[i,u] == float:
            pass
        else:
            if x_2.loc[i,u] in Symbol:
                a = df[str(x_2.loc[i,u])].set_index('Time ').loc[i]
                list_time_2.append(i)
                list_symbol_2.append(x_2.loc[i,u])
            
            elif x_2.loc[i,u] in Symbol_SET:
                a = SET[str(x_2.loc[i,u])].set_index('Time ').loc[i]
                list_time_2.append(i)
                list_symbol_2.append(x_2.loc[i,u])

KeyError: Timestamp('2019-12-18 00:00:00')

In [ ]:
Rt_2['Time '] = list_time_2
Rt_2['Symbol'] = list_symbol_2

In [ ]:
for i in range(len(Rt_2)):
    x = Rt_2.loc[i,'Time ']
    y = Rt_2.loc[i,'Symbol']
    if y in Symbol:
        k = df[y].set_index('Time ')
        Rt_2.loc[i,'Open'] = k.loc[x,'Open']
        Rt_2.loc[i,'High'] = k.loc[x,'High']
        Rt_2.loc[i,'Low'] = k.loc[x,'Low']
        Rt_2.loc[i,'Close'] = k.loc[x,'Close']
       
    elif y in Symbol_SET:
        k = SET[y].set_index('Time ')
        Rt_2.loc[i,'Open'] = k.loc[x,'Open']
        Rt_2.loc[i,'High'] = k.loc[x,'High']
        Rt_2.loc[i,'Low'] = k.loc[x,'Low']
        Rt_2.loc[i,'Close'] = k.loc[x,'Close']
    
    Rt_2.loc[i,'Close_Price'] = s(Rt_2,i)

In [ ]:
Com = 0.0015
vat = 0.07

Rt_2['Commission'] = 0.00107


Rt_2['Price_buy'] = Rt_2['Open']*(1+0.00107)
Rt_2['Price_sell'] = Rt_2['Close_Price']*(1-0.00107)
Rt_2['Vol'] = (((100000/Rt_2['Price_buy'])*10**(-2))//1)*100
Rt_2['Value_Buy'] = Rt_2['Vol'] * Rt_2['Price_buy']
Rt_2['Value_Sell'] = Rt_2['Vol'] * Rt_2['Price_sell']
Rt_2['Realized'] = Rt_2['Value_Sell']-Rt_2['Value_Buy']
Rt_2['%Change'] = (Rt_2['Realized']/Rt_2['Value_Buy'])

count = 0
n_gain = 0
for i in range(len(Rt_2)):
    if Rt_2.loc[i,'Close_Price'] == Rt_2.loc[i,'TP']:
        count += 1
        Rt_2.loc[i,'Count'] = count
        
    if Rt_2.loc[i,'%Change'] > 0:
        n_gain += 1
        Rt_2.loc[i,'n_gain'] = n_gain

In [ ]:
for i in range(len(Rt_2)):
    if Rt_2.loc[i,'Symbol'] in Symbol:
        Rt_2.loc[i,'Symbol'] = Rt_2.loc[i,'Symbol']+'*'

In [ ]:
Rt_2

In [ ]:
Rtt = pd.ExcelWriter('/Users/oat/Desktop/Conclude_1.xlsx')

In [ ]:
Rt.to_excel(Rtt,sheet_name='Result-5-10')
Rt_2.to_excel(Rtt,sheet_name='Result-3-5')

In [ ]:
Rtt.close()

In [32]:
df['CRD'].set_index('Time ').loc['1/14/2010']

            Open  High   Low  Close     Volume         OI
Time
2010-01-14  2.36  2.44  2.24   2.24  2464500.0  5755000.0

In [36]:
SET['SET'].set_index('Time ').loc['11/10/2020 ']

               Open     High      Low    Close        Volume            OI
Time
2020-11-10  1330.53  1346.72  1313.04  1341.24  3.324713e+10  1.666749e+11

In [34]:
df['mai']

          Time     Open    High     Low   Close        Volume            OI
0    2021-09-06     NaN     NaN     NaN     NaN           NaN           NaN
1    2021-09-03     NaN     NaN     NaN     NaN           NaN           NaN
2    2021-09-02  526.34  528.07  523.50  524.45  4.170335e+09  4.556825e+09
3    2021-09-01  525.33  526.10  521.10  525.57  4.520146e+09  5.233942e+09
4    2021-08-31  525.33  527.08  521.23  522.15  3.282511e+09  5.085284e+09
...         ...     ...     ...     ...     ...           ...           ...
2842 2010-01-08  219.04  220.89  219.02  220.61  1.623410e+08  4.335620e+08
2843 2010-01-07  219.52  220.65  218.42  218.42  2.752790e+08  2.842520e+08
2844 2010-01-06  215.94  219.22  215.82  218.19  1.755530e+08  3.601560e+08
2845 2010-01-05  215.36  216.58  215.24  215.49  2.495130e+08  3.664220e+08
2846 2010-01-04  215.74  215.95  214.62  214.97  9.441500e+07  2.070300e+08

[2847 rows x 7 columns]

In [35]:
SET['SET']

,Time,Open,High,Low,Close,Volume,OI
0,2021-09-03,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-09-02,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-09-01,1643.01,1646.07,1630.72,1631.12,2.828309e+10,7.399862e+10
3,2021-08-31,1631.87,1643.76,1628.12,1638.75,3.585683e+10,1.179178e+11
4,2021-08-30,1622.11,1634.92,1621.42,1633.77,3.302905e+10,1.173827e+11
...,...,...,...,...,...,...,...
2841,2010-01-08,736.29,740.91,736.03,738.96,2.693634e+09,1.871476e+10
2842,2010-01-07,738.77,740.91,733.75,734.63,3.693555e+09,2.119434e+10
2843,2010-01-06,734.73,737.12,732.66,735.73,3.696388e+09,1.788883e+10
2844,2010-01-05,737.38,740.86,730.80,732.11,3.028765e+09,1.869249e+10
2845,2010-01-04,736.66,737.14,725.65,732.28,2.368700e+09,1.164636e+10