In [1]:
import pandas as pd
import numpy as np
from functools import lru_cache
import datetime
import dateutil.parser as parser
import matplotlib.pyplot as plt

In [2]:
@lru_cache(maxsize=None)
def im(country):
    data = pd.read_excel('/Users/oat/Desktop/งาน/data fund/'+country+'/'+country+'.xlsx',skiprows=1)
    return data

In [3]:
data = im('US')

In [4]:
data

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,Unnamed: 91,P/L (all) USD,no.trade,Unnamed: 94,Unnamed: 95,# Trade,no.,Date,Equity,Drawdown (%)
0,2011-01-03,GMO Benchmark-Free Allocation III,Vanguard Emerging Mkts Stock Idx Inv,SEI Core Fixed Income A (SIIT),SEI Dynamic Asset Allocation A (SIIT),PRIMECAP Odyssey Stock,Vanguard Developed Markets Index Admiral,SEI Long Duration A (SIIT),Templeton Foreign Fund A,Templeton Foreign A,...,NaN,0.0,0.0,NaN,NaN,NaN,0,2011-01-03,NaN,NaN
1,2011-01-04,Vanguard Emerging Mkts Stock Idx Inv,GMO Benchmark-Free Allocation III,MFS Value A,Morgan Stanley Inst Global Real Est I,SEI Core Fixed Income A (SIIT),SEI Dynamic Asset Allocation A (SIIT),Aberdeen Global Equity Impact Instl,PRIMECAP Odyssey Stock,Eaton Vance Large-Cap Value A,...,NaN,0.0,0.0,NaN,NaN,NaN,1,2011-01-04,NaN,NaN
2,2011-01-05,Vanguard Emerging Mkts Stock Idx Inv,Rydex Government Long Bd 1.2x Strat Inv,GMO Benchmark-Free Allocation III,MFS Value A,Templeton Global Bond A,Invesco Developing Markets A,Morgan Stanley Inst Global Real Est I,SEI Core Fixed Income A (SIIT),Aberdeen Global Equity Impact Instl,...,NaN,0.0,0.0,NaN,NaN,NaN,2,2011-01-05,NaN,NaN
3,2011-01-06,Vanguard Emerging Mkts Stock Idx Inv,Rydex Government Long Bd 1.2x Strat Inv,GMO Benchmark-Free Allocation III,Templeton Global Bond A,Invesco Developing Markets A,MFS Value A,GMO US Treasury,SEI Core Fixed Income A (SIIT),Morgan Stanley Inst Global Real Est I,...,NaN,0.0,0.0,NaN,NaN,NaN,3,2011-01-06,NaN,NaN
4,2011-01-07,Vanguard Emerging Mkts Stock Idx Inv,Rydex Government Long Bd 1.2x Strat Inv,GMO Benchmark-Free Allocation III,Invesco Developing Markets A,Templeton Global Bond A,MFS Value A,Fairholme,GMO US Treasury,Morgan Stanley Inst Global Real Est I,...,NaN,0.0,0.0,NaN,NaN,NaN,4,2011-01-07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2604,2020-12-25,NaN,NaN
2605,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2605,2020-12-28,NaN,NaN
2606,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2606,2020-12-29,NaN,NaN
2607,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2607,2020-12-30,NaN,NaN
2608,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2608,2020-12-31,NaN,NaN

In [5]:
#data_test = pd.read_excel('/Users/oat/Desktop/งาน/data fund/US/NAV.xlsx')

In [6]:
#data = pd.read_excel('/Users/oat/Desktop/งาน/data fund/US/US.xlsx',skiprows=1)

In [7]:
data.columns

Index([   'Unnamed: 0',               0,               1,               2,
                     3,               4,               5,               6,
                     7,               8,
       ...
         'Unnamed: 91', 'P/L (all) USD',      'no.trade',   'Unnamed: 94',
         'Unnamed: 95',       '# Trade',           'no.',          'Date',
              'Equity',  'Drawdown (%)'],
      dtype='object', length=101)

In [8]:
df = data.copy()

In [9]:
df = df.rename(columns={'Unnamed: 0':'Time'})

In [10]:
lt = df['Time'][1:].dropna()
lt = lt.iloc[0:len(lt)-1].to_list()

In [11]:
table = pd.DataFrame(columns=range(1,11))
table['Time'] = lt
table = table.set_index('Time').reset_index()

In [12]:
name_clean = df.iloc[:,1:11].dropna()
name_clean['Time'] = lt
name_clean = name_clean.set_index('Time').reset_index()

In [13]:
#test_table.set_index('Time',inplace = True)
name_lt = []
name_lt.append(df.iloc[0,1:11].to_list())
for i in range(1,len(df)):
    update_list = []
    last_list = []
    for j in range(1,len(df.columns[:11])):
        if df.iloc[i,j] in df.iloc[i-1].to_list():
            last_list.append(df.iloc[i,j])
        else:
            update_list.append(df.iloc[i,j])
    
    update_list = update_list + last_list
    name_lt.append(update_list)

In [14]:
name_table = pd.DataFrame(name_lt,columns=range(1,11))
name_table.dropna(inplace=True)
name_table['Time'] = lt
name_table = name_table.set_index('Time').reset_index()
name_table['Table'] = 'Name'
name_table['N'] = 1

In [15]:
name_table

,Time,1,2,3,4,5,6,7,8,9,10,Table,N
0,2011-01-04,GMO Benchmark-Free Allocation III,Vanguard Emerging Mkts Stock Idx Inv,SEI Core Fixed Income A (SIIT),SEI Dynamic Asset Allocation A (SIIT),PRIMECAP Odyssey Stock,Vanguard Developed Markets Index Admiral,SEI Long Duration A (SIIT),Templeton Foreign Fund A,Templeton Foreign A,Morgan Stanley Inst Global Real Est I,Name,1
1,2011-01-05,MFS Value A,Aberdeen Global Equity Impact Instl,Eaton Vance Large-Cap Value A,Invesco Developing Markets A,Vanguard Emerging Mkts Stock Idx Inv,GMO Benchmark-Free Allocation III,Morgan Stanley Inst Global Real Est I,SEI Core Fixed Income A (SIIT),SEI Dynamic Asset Allocation A (SIIT),PRIMECAP Odyssey Stock,Name,1
2,2011-01-06,Rydex Government Long Bd 1.2x Strat Inv,Templeton Global Bond A,Vanguard Emerging Mkts Stock Idx Inv,GMO Benchmark-Free Allocation III,MFS Value A,Invesco Developing Markets A,Morgan Stanley Inst Global Real Est I,SEI Core Fixed Income A (SIIT),Aberdeen Global Equity Impact Instl,SEI Dynamic Asset Allocation A (SIIT),Name,1
3,2011-01-07,GMO US Treasury,Fairholme,Vanguard Emerging Mkts Stock Idx Inv,Rydex Government Long Bd 1.2x Strat Inv,GMO Benchmark-Free Allocation III,Templeton Global Bond A,Invesco Developing Markets A,MFS Value A,SEI Core Fixed Income A (SIIT),Morgan Stanley Inst Global Real Est I,Name,1
4,2011-01-10,Vanguard Emerging Mkts Stock Idx Inv,Rydex Government Long Bd 1.2x Strat Inv,GMO Benchmark-Free Allocation III,Invesco Developing Markets A,Templeton Global Bond A,MFS Value A,Fairholme,GMO US Treasury,Morgan Stanley Inst Global Real Est I,SEI Core Fixed Income A (SIIT),Name,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,2020-12-23,Vanguard 500 Index Investor,Vanguard Total Stock Mkt Idx Inv,Vanguard Developed Markets Index Admiral,Metropolitan West Total Return Bd M,Vanguard Total Bond Market Index Inv,PGIM Total Return Bond A,Vanguard Total Intl Bd Idx Institutional,Vanguard Value Index Inv,Lord Abbett Short Duration Income A,Vanguard Interm-Term Corp Bd Idx Instl,Name,1
2491,2020-12-24,Vanguard 500 Index Investor,Vanguard Total Stock Mkt Idx Inv,Vanguard Developed Markets Index Admiral,Metropolitan West Total Return Bd M,Vanguard Total Bond Market Index Inv,PGIM Total Return Bond A,Vanguard Total Intl Bd Idx Institutional,Vanguard Value Index Inv,Lord Abbett Short Duration Income A,Vanguard Interm-Term Corp Bd Idx Instl,Name,1
2492,2020-12-28,Vanguard 500 Index Investor,Vanguard Total Stock Mkt Idx Inv,Vanguard Developed Markets Index Admiral,Metropolitan West Total Return Bd M,Vanguard Total Bond Market Index Inv,PGIM Total Return Bond A,Vanguard Total Intl Bd Idx Institutional,Vanguard Value Index Inv,Lord Abbett Short Duration Income A,Vanguard Interm-Term Corp Bd Idx Instl,Name,1
2493,2020-12-29,Vanguard 500 Index Investor,Vanguard Total Stock Mkt Idx Inv,Vanguard Developed Markets Index Admiral,Metropolitan West Total Return Bd M,Vanguard Total Bond Market Index Inv,PGIM Total Return Bond A,Vanguard Total Intl Bd Idx Institutional,Vanguard Value Index Inv,Lord Abbett Short Duration Income A,Vanguard Interm-Term Corp Bd Idx Instl,Name,1
2494,2020-12-30,Vanguard 500 Index Investor,Vanguard Total Stock Mkt Idx Inv,Vanguard Developed Markets Index Admiral,Metropolitan West Total Return Bd M,Vanguard Total Bond Market Index Inv,PGIM Total Return Bond A,Vanguard Total Intl Bd Idx Institutional,Vanguard Value Index Inv,Lord Abbett Short Duration Income A,Vanguard Interm-Term Corp Bd Idx Instl,Name,1

In [16]:
table_B = table.copy()
table_S = table.copy()

In [17]:
for i in range(1,len(name_table)):
    oname = []
    for j in range(1,11):
        if name_table.iloc[i,j] in name_table.iloc[i-1].to_list():
            pass
        else:
            oname.append(name_table.iloc[i,j])
    
    for k in range(len(oname)):
        table_B.iloc[i,k+1] = oname[k]
        
    nname = []
    for n in range(1,11):
        if name_table.iloc[i-1,n] in name_table.iloc[i].to_list():
            pass
        else:
            nname.append(name_table.iloc[i-1,n])
    
    
    for m in range(len(nname)):
        table_S.iloc[i,m+1] = nname[m]

table_S['Table'] = 'Sell Symbol'
table_S['N'] = 10
table_B['Table'] = 'Buy Symbol'
table_B['N'] = 9

In [18]:
table_B

,Time,1,2,3,4,5,6,7,8,9,10,Table,N
0,2011-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
1,2011-01-05,MFS Value A,Aberdeen Global Equity Impact Instl,Eaton Vance Large-Cap Value A,Invesco Developing Markets A,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
2,2011-01-06,Rydex Government Long Bd 1.2x Strat Inv,Templeton Global Bond A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
3,2011-01-07,GMO US Treasury,Fairholme,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
4,2011-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,2020-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
2491,2020-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
2492,2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
2493,2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9
2494,2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Buy Symbol,9

In [19]:
data_p = df.iloc[:len(name_table),12:22].copy() #t
data_p['Time'] = lt
data_p = data_p.set_index('Time').reset_index()

In [20]:
data_pp = df.iloc[:len(name_table),23:33].copy() #t+1
data_pp['Time'] = lt
data_pp = data_pp.set_index('Time').reset_index()

In [21]:
data_ppp = df.iloc[:len(name_table),34:44].copy() #t+2
data_ppp['Time'] = lt
data_ppp = data_ppp.set_index('Time').reset_index()

In [22]:
data_op = table.copy() #t+1

In [23]:
for i in range(len(data_op)):
    for j in range(1,len(data_op.columns)):
        if pd.isna(data_pp.iloc[i,j]) == True:
            data_op.iloc[i,j] = data_ppp.iloc[i,j]
        elif pd.isna(data_pp.iloc[i,j]) == True:
            data_op.iloc[i,j] = data_pp.iloc[i,j]
        else:
            data_op.iloc[i,j] = data_p.iloc[i,j]

In [24]:
data_op.iloc[80:100]

,Time,1,2,3,4,5,6,7,8,9,10
80,2011-04-29,14.04,20.79,12.05,7.75,31.87,11.07,49.41,49.4,8.41,9.1
81,2011-05-02,14.07,20.86,12.03,7.79,31.95,11.01,49.73,49.59,8.42,9.1
82,2011-05-03,14.08,20.82,7.78,12.04,31.89,11.02,49.53,49.61,8.42,9.1
83,2011-05-04,14.02,20.71,7.69,12.04,31.41,11.04,49.04,49.51,8.42,9.1
84,2011-05-05,13.94,20.57,7.62,12.04,30.9,11.06,48.53,49.26,8.42,9.1
85,2011-05-06,13.84,20.34,7.58,12.03,30.56,11.09,47.99,48.83,8.42,9.1
86,2011-05-09,13.89,7.63,20.38,12.04,11.09,30.73,48.79,48.04,8.42,9.1
87,2011-05-10,13.94,20.46,7.69,12.03,11.1,30.85,48.87,48.37,8.42,9.1
88,2011-05-11,13.98,20.53,7.75,12.03,11.08,31.06,49.05,48.65,8.42,9.1
89,2011-05-12,13.97,20.34,7.65,12.04,30.71,11.1,48.82,48.08,8.42,9.1
90,2011-05-13,13.92,20.33,7.69,12.03,30.55,11.08,48.69,48.05,8.42,9.1
91,2011-05-16,13.88,20.19,7.61,12.02,11.1,30.23,48.41,47.83,8.42,9.1
92,2011-05-17,13.79,20.14,7.53,12.03,11.12,30.06,48.29,8.42,47.75,9.09
93,2011-05-18,13.82,20.15,7.51,12.02,11.13,30.13,48.18,8.41,47.6,9.09
94,2011-05-19,13.87,20.25,7.6,12.02,11.11,30.43,48.46,8.41,48.02,9.09
95,2011-05-20,13.9,20.29,7.62,12.03,11.12,30.34,48.55,8.42,47.96,9.09
96,2011-05-23,13.93,20.19,7.58,12.03,11.13,30.2,48.4,8.42,47.99,9.09
97,2011-05-24,13.83,12.69,19.96,7.46,12.02,11.14,29.53,47.82,8.41,47.81
98,2011-05-25,13.85,12.67,20.03,7.46,11.15,12.02,29.83,47.88,8.41,47.99
99,2011-05-26,13.83,12.8,20.08,7.52,12.01,11.15,29.75,47.85,8.41,48.28

In [25]:
table_n1 = table.copy()

In [26]:
for i in range(len(table_n1)):
    save_v = {}
    save_close = {}
    for j in range(1,11):
        save_v[name_clean.iloc[i,j]] = data_op.iloc[i,j]
    
    
    for k in range(1,11):
        table_n1.iloc[i,k] = save_v[name_table.iloc[i,k]]

In [27]:
table_n1['N'] = 3
table_n1['Table'] = 'Last price (Open or Close)'
table_n1

,Time,1,2,3,4,5,6,7,8,9,10,N,Table
0,2011-01-04,22.52,30.74,10.19,10.69,14.26,11.64,8.56,7.04,7.04,8.89,3,Last price (Open or Close)
1,2011-01-05,23.03,12.55,18.42,36.67,30.79,22.59,8.85,10.19,10.69,14.22,3,Last price (Open or Close)
2,2011-01-06,34.05,13.65,30.75,22.59,23.17,36.53,8.9,10.14,12.48,10.71,3,Last price (Open or Close)
3,2011-01-07,5,36.13,30.47,34.14,22.59,13.62,36.23,23.13,10.16,8.83,3,Last price (Open or Close)
4,2011-01-10,30.2,34.41,22.53,35.93,13.59,23.03,36.09,5,8.81,10.2,3,Last price (Open or Close)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,2020-12-23,340.16,93.9,14.81,11.16,11.61,15.1,35.1,45.6,4.21,32.18,3,Last price (Open or Close)
2491,2020-12-24,340.41,93.64,14.97,11.14,11.59,15.08,35.01,45.66,4.21,32.15,3,Last price (Open or Close)
2492,2020-12-28,341.65,93.88,15.01,11.16,11.6,15.11,35.03,45.75,4.21,32.19,3,Last price (Open or Close)
2493,2020-12-29,344.63,94.37,15.12,11.16,11.6,15.12,35.07,45.91,4.21,32.22,3,Last price (Open or Close)
2494,2020-12-30,343.86,94,15.24,11.17,11.6,15.12,35.1,45.83,4.21,32.24,3,Last price (Open or Close)

In [28]:
table_Open = table.copy()
#table_Open.set_index(['Time'], inplace = True)

In [29]:
save_value = {}

#จัดการกับแถวแรก
for i in range(11):
    save_value[name_table.iloc[0,i]] = data_op.iloc[0,i]
    #save_value.append({name_table.iloc[0,i+1] : data_op.iloc[0,i]})
    table_Open.iloc[0,i] = save_value[name_table.iloc[0,i]]


for i in range(1,len(table_Open)):#ลงตาราง
#for i in range(1,4):#ลงตาราง
    save_value = {}
    for j in range(1,len(table_Open.columns)):
        save_value[name_table.iloc[i-1,j]] = table_Open.iloc[i-1,j]
        
        
        
    for m in range(1,len(table_Open.columns)):

        if name_table.iloc[i,m] in name_table.iloc[i-1].to_list():
            
            table_Open.iloc[i,m] = save_value[name_table.iloc[i,m]]
    
        else:
            table_Open.iloc[i,m] = table_n1.iloc[i,m]

In [30]:
table_Open['Table'] = 'Open ( NAV t+1 )'
table_Open['N'] = 2

In [31]:
table_per = table.copy()
for i in range(len(table_per)):
    for j in range(1,len(table_per.columns)):
        table_per.iloc[i,j] = (table_n1.iloc[i,j]-table_Open.iloc[i,j])/table_Open.iloc[i,j]
        
table_per['Table'] = 'Performance(%)'
table_per['N'] = 7
#เหลือทำให่้เป็น %

In [32]:
#table_per.style.format("{:.2%}")

In [33]:
table_Open

,Time,1,2,3,4,5,6,7,8,9,10,Table,N
0,2011-01-04,22.52,30.74,10.19,10.69,14.26,11.64,8.56,7.04,7.04,8.89,Open ( NAV t+1 ),2
1,2011-01-05,23.03,12.55,18.42,36.67,30.74,22.52,8.89,10.19,10.69,14.26,Open ( NAV t+1 ),2
2,2011-01-06,34.05,13.65,30.74,22.52,23.03,36.67,8.89,10.19,12.55,10.69,Open ( NAV t+1 ),2
3,2011-01-07,5,36.13,30.74,34.05,22.52,13.65,36.67,23.03,10.19,8.89,Open ( NAV t+1 ),2
4,2011-01-10,30.74,34.05,22.52,36.67,13.65,23.03,36.13,5,8.89,10.19,Open ( NAV t+1 ),2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,2020-12-23,181.94,52.33,13.4,10.84,10.65,13.85,32.87,43.76,4.17,32.2,Open ( NAV t+1 ),2
2491,2020-12-24,181.94,52.33,13.4,10.84,10.65,13.85,32.87,43.76,4.17,32.2,Open ( NAV t+1 ),2
2492,2020-12-28,181.94,52.33,13.4,10.84,10.65,13.85,32.87,43.76,4.17,32.2,Open ( NAV t+1 ),2
2493,2020-12-29,181.94,52.33,13.4,10.84,10.65,13.85,32.87,43.76,4.17,32.2,Open ( NAV t+1 ),2
2494,2020-12-30,181.94,52.33,13.4,10.84,10.65,13.85,32.87,43.76,4.17,32.2,Open ( NAV t+1 ),2

In [34]:
table_N = table.copy()
table_un = table.copy()
table_Volume = table.copy()

In [35]:
#แถวที่1
for i in range(1,len(table_N.columns)):
    table_N.iloc[0,i] = 2500
    table_un.iloc[0,i] = 2500
    table_Volume.iloc[0,i] = table_N.iloc[0,i]/table_Open.iloc[0,i]
    

    
for i in range(1,len(table_N)):
    save_volume = {} #sace volume
    save_price = {} #save open price
    save_un = {}
    for j in range(1,len(table_N.columns)):
        save_price[name_table.iloc[i-1,j]] = table_N.iloc[i-1,j]
        save_volume[name_table.iloc[i-1,j]] = table_Volume.iloc[i-1,j]
        save_un[name_table.iloc[i-1,j]] = table_un.iloc[i-1,j]
        
    #print(save_price)
   
    name_old =[]     
    for k in range(1,11):
        if name_table.iloc[i-1,k] in name_table.iloc[i].to_list(): #check new row
            pass
        else:
            name_old.append(name_table.iloc[i-1,k])
            
    new_name = []
    for l in range(1,11):
        if name_table.iloc[i,l] in name_table.iloc[i-1].to_list():
            pass
        else:
            new_name.append(name_table.iloc[i,l])
            
    for m in range(len(name_old)):
        save_volume[new_name[m]] = save_volume.pop(name_old[m])
        save_price[new_name[m]] = save_price.pop(name_old[m])
        save_un[new_name[m]] = save_un.pop(name_old[m])
    #print(save_price)
   
    # zone cal
    for n in range(1,11):
        #ทุนที่เปิดposition
        
        if name_table.iloc[i,n] in name_table.iloc[i-1].to_list():
            table_Volume.iloc[i,n] = save_volume[name_table.iloc[i,n]]#table_N.iloc[i,n]/table_Open.iloc[i,n]
            table_un.iloc[i,n] = table_Volume.iloc[i,n] * table_n1.iloc[i,n]
            table_N.iloc[i,n] = save_price[name_table.iloc[i,n]]
            
        else:
            table_N.iloc[i,n] = save_un[name_table.iloc[i,n]]
            table_Volume.iloc[i,n] = table_N.iloc[i,n]/table_Open.iloc[i,n]
            table_un.iloc[i,n] = table_Volume.iloc[i,n] * table_n1.iloc[i,n]


table_Volume['Table'] = 'Volume'
table_Volume['N'] = 4

table_N['Table'] = 'Notional Cost ( Incl. Vat & Fee )'
table_N['N'] = 5

table_un['Table'] = 'unrealized P/L'
table_un['N'] = 6

In [36]:
name_table.iloc[789:799,:]

,Time,1,2,3,4,5,6,7,8,9,10,Table,N
789,2014-03-05,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
790,2014-03-06,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
791,2014-03-07,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
792,2014-03-10,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
793,2014-03-11,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
794,2014-03-12,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
795,2014-03-13,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
796,2014-03-14,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
797,2014-03-17,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1
798,2014-03-18,DoubleLine Total Return Bond I,Lord Abbett Short Duration Income A,Marketfield I,Goldman Sachs Strategic Income Instl,Oakmark International Investor,Invesco Senior Floating Rate A,Invesco Developing Markets A,Vanguard Total Intl Bd Idx Institutional,JPMorgan Strategic Income Opports R5,Vanguard 500 Index Investor,Name,1

In [37]:
table_Volume.to_excel('/Users/oat/Desktop/งาน/data fund/India/testa_vol.xlsx')

In [38]:
name_table.set_index('Time',inplace = True)

In [39]:
table_Open.set_index('Time',inplace = True)

In [40]:
table_n1.set_index('Time',inplace = True)

In [41]:
table_Volume.set_index('Time',inplace = True)

In [42]:
table_N.set_index('Time',inplace = True)

In [43]:
table_un.set_index('Time',inplace = True)

In [44]:
table_per.set_index('Time',inplace = True)

In [45]:
table_S.set_index('Time',inplace = True)
table_B.set_index('Time',inplace = True)

In [1]:
table_8 = table.copy()
table_11 = table.copy()
table_8['N'] = 8
table_8.set_index('Time',inplace = True)
table_11['N'] = 11
table_11.set_index('Time',inplace = True)

NameError: name 'table' is not defined

In [48]:
performance = pd.concat([name_table,table_Open,table_n1,table_Volume,table_N,table_un,table_per,table_8,table_B,table_S,table_11])

In [49]:
performance.sort_values(by = ['Time','N'],inplace = True)

In [50]:
performance = performance.reset_index().set_index(['Time','Table'])

In [51]:
performance.head(30)

                                                                                     1  \
Time       Table
2011-01-04 Name                                      GMO Benchmark-Free Allocation III
           Open ( NAV t+1 )                                                      22.52
           Last price (Open or Close)                                            22.52
           Volume                                                              111.012
           Notional Cost ( Incl. Vat & Fee )                                      2500
           unrealized P/L                                                         2500
           Performance(%)                                                            0
           NaN                                                                     NaN
           Buy Symbol                                                              NaN
           Sell Symbol                                                             NaN
           NaN                                                                     NaN
2011-01-05 Name                                                            MFS Value A
           Open ( NAV t+1 )                                                      23.03
           Last price (Open or Close)                                            23.03
           Volume                                                              108.554
           Notional Cost ( Incl. Vat & Fee )                                      2500
           unrealized P/L                                                         2500
           Performance(%)                                                            0
           NaN                                                                     NaN
           Buy Symbol                                                      MFS Value A
           Sell Symbol                        Vanguard Developed Markets Index Admiral
           NaN                                                                     NaN
2011-01-06 Name                                Rydex Government Long Bd 1.2x Strat Inv
           Open ( NAV t+1 )                                                      34.05
           Last price (Open or Close)                                            34.05
           Volume                                                              73.4214
           Notional Cost ( Incl. Vat & Fee )                                      2500
           unrealized P/L                                                         2500
           Performance(%)                                                            0
           NaN                                                                     NaN

                                                                                 2  \
Time       Table
2011-01-04 Name                               Vanguard Emerging Mkts Stock Idx Inv
           Open ( NAV t+1 )                                                  30.74
           Last price (Open or Close)                                        30.74
           Volume                                                          81.3273
           Notional Cost ( Incl. Vat & Fee )                                  2500
           unrealized P/L                                                     2500
           Performance(%)                                                        0
           NaN                                                                 NaN
           Buy Symbol                                                          NaN
           Sell Symbol                                                         NaN
           NaN                                                                 NaN
2011-01-05 Name                                Aberdeen Global Equity Impact Instl
           Open ( NAV t+1 )                                                  12.55
           Last price (Open or Close)                                        12.55
           Volume                                                          199.203
           Notional Cost ( Incl. Vat & Fee )                                  2500
           unrealized P/L                                                     2500
           Performance(%)                                                        0
           NaN                                                                 NaN
           Buy Symbol                          Aberdeen Global Equity Impact Instl
           Sell Symbol                                  SEI Long Duration A (SIIT)
           NaN                                                                 NaN
2011-01-06 Name                                            Templeton Global Bond A
           Open ( NAV t+1 )                                                  13.65
           Last price (Open or Close)                                        13.65
           Volume                                                          182.636
           Notional Cost ( Incl. Vat & Fee )                               2492.99
           unrealized P/L                                                  2492.99
           Performance(%)                                                        0
           NaN                                                                 NaN

                                                                                 3  \
Time       Table
2011-01-04 Name                                     SEI Core Fixed Income A (SIIT)
           Open ( NAV t+1 )                                                  10.19
           Last price (Open or Close)                                        10.19
           Volume                                                          245.339
           Notional Cost ( Incl. Vat & Fee )                                  2500
           unrealized P/L                                                     2500
           Performance(%)                                                        0
           NaN                                                                 NaN
           Buy Symbol                                                          NaN
           Sell Symbol                                                         NaN
           NaN                                                                 NaN
2011-01-05 Name                                      Eaton Vance Large-Cap Value A
           Open ( NAV t+1 )                                                  18.42
           Last price (Open or Close)                                        18.42
           Volume                                                          135.722
           Notional Cost ( Incl. Vat & Fee )                                  2500
           unrealized P/L                                                     2500
           Performance(%)                                                        0
           NaN                                                                 NaN
           Buy Symbol                                Eaton Vance Large-Cap Value A
           Sell Symbol                                    Templeton Foreign Fund A
           NaN                                                                 NaN
2011-01-06 Name                               Vanguard Emerging Mkts Stock Idx Inv
           Open ( NAV t+1 )                                                  30.74
           Last price (Open or Close)                                        30.75
           Volume                                                          81.3273
           Notional Cost ( Incl. Vat & Fee )                                  2500
           unrealized P/L                                                  2500.81
           Performance(%)                                              0.000325309
           NaN                                                                 NaN

                                                                                  4  \
Time       Table
2011-01-04 Name                               SEI Dynamic Asset Allocation A (SIIT)
           Open ( NAV t+1 )                                                   10.69
           Last price (Open or Close)                                         10.69
           Volume                                                           233.863
           Notional Cost ( Incl. Vat & Fee )                                   2500
           unrealized P/L                                                      2500
           Performance(%)                                                         0
           NaN                                                                  NaN
           Buy Symbol                                                           NaN
           Sell Symbol                                                          NaN
           NaN                                                                  NaN
2011-01-05 Name                                        Invesco Developing Markets A
           Open ( NAV t+1 )                                                   36.67
           Last price (Open or Close)                                         36.67
           Volume                                                           68.1756
           Notional Cost ( Incl. Vat & Fee )                                   2500
           unrealized P/L                                                      2500
           Performance(%)                                                         0
           NaN                                                                  NaN
           Buy Symbol                                  Invesco Developing Markets A
           Sell Symbol                                          Templeton Foreign A
           NaN                                                                  NaN
2011-01-06 Name                                   GMO Benchmark-Free Allocation III
           Open ( NAV t+1 )                                                   22.52
           Last price (Open or Close)                                         22.59
           Volume                                                           111.012
           Notional Cost ( Incl. Vat & Fee )                                   2500
           unrealized P/L                                                   2507.77
           Performance(%)                                                0.00310835
           NaN                                                                  NaN

                                                                                 5  \
Time       Table
2011-01-04 Name                                             PRIMECAP Odyssey Stock
           Open ( NAV t+1 )                                                  14.26
           Last price (Open or Close)                                        14.26
           Volume                                                          175.316
           Notional Cost ( Incl. Vat & Fee )                                  2500
           unrealized P/L                                                     2500
           Performance(%)                                                        0
           NaN                                                                 NaN
           Buy Symbol                                                          NaN
           Sell Symbol                                                         NaN
           NaN                                                                 NaN
2011-01-05 Name                               Vanguard Emerging Mkts Stock Idx Inv
           Open ( NAV t+1 )                                                  30.74
           Last price (Open or Close)                                        30.79
           Volume                                                          81.3273
           Notional Cost ( Incl. Vat & Fee )                                  2500
           unrealized P/L                                                  2504.07
           Performance(%)                                               0.00162655
           NaN                                                                 NaN
           Buy Symbol                                                          NaN
           Sell Symbol                                                         NaN
           NaN                                                                 NaN
2011-01-06 Name                                                        MFS Value A
           Open ( NAV t+1 )                                                  23.03
           Last price (Open or Close)                                        23.17
           Volume                                                          108.554
           Notional Cost ( Incl. Vat & Fee )                                  2500
           unrealized P/L                                                   2515.2
           Performance(%)                                               0.00607903
           NaN                                                                 NaN

                                                                                     6  \
Time       Table
2011-01-04 Name                               Vanguard Developed Markets Index Admiral
           Open ( NAV t+1 )                                                      11.64
           Last price (Open or Close)                                            11.64
           Volume                                                              214.777
           Notional Cost ( Incl. Vat & Fee )                                      2500
           unrealized P/L                                                         2500
           Performance(%)                                                            0
           NaN                                                                     NaN
           Buy Symbol                                                              NaN
           Sell Symbol                                                             NaN
           NaN                                                                     NaN
2011-01-05 Name                                      GMO Benchmark-Free Allocation III
           Open ( NAV t+1 )                                                      22.52
           Last price (Open or Close)                                            22.59
           Volume                                                              111.012
           Notional Cost ( Incl. Vat & Fee )                                      2500
           unrealized P/L                                                      2507.77
           Performance(%)                                                   0.00310835
           NaN                                                                     NaN
           Buy Symbol                                                              NaN
           Sell Symbol                                                             NaN
           NaN                                                                     NaN
2011-01-06 Name                                           Invesco Developing Markets A
           Open ( NAV t+1 )                                                      36.67
           Last price (Open or Close)                                            36.53
           Volume                                                              68.1756
           Notional Cost ( Incl. Vat & Fee )                                      2500
           unrealized P/L                                                      2490.46
           Performance(%)                                                  -0.00381783
           NaN                                                                     NaN

                                                                                  7  \
Time       Table
2011-01-04 Name                                          SEI Long Duration A (SIIT)
           Open ( NAV t+1 )                                                    8.56
           Last price (Open or Close)                                          8.56
           Volume                                                           292.056
           Notional Cost ( Incl. Vat & Fee )                                   2500
           unrealized P/L                                                      2500
           Performance(%)                                                         0
           NaN                                                                  NaN
           Buy Symbol                                                           NaN
           Sell Symbol                                                          NaN
           NaN                                                                  NaN
2011-01-05 Name                               Morgan Stanley Inst Global Real Est I
           Open ( NAV t+1 )                                                    8.89
           Last price (Open or Close)                                          8.85
           Volume                                                           281.215
           Notional Cost ( Incl. Vat & Fee )                                   2500
           unrealized P/L                                                   2488.75
           Performance(%)                                               -0.00449944
           NaN                                                                  NaN
           Buy Symbol                                                           NaN
           Sell Symbol                                                          NaN
           NaN                                                                  NaN
2011-01-06 Name                               Morgan Stanley Inst Global Real Est I
           Open ( NAV t+1 )                                                    8.89
           Last price (Open or Close)                                           8.9
           Volume                                                           281.215
           Notional Cost ( Incl. Vat & Fee )                                   2500
           unrealized P/L                                                   2502.81
           Performance(%)                                                0.00112486
           NaN                                                                  NaN

                                                                           8  \
Time       Table
2011-01-04 Name                                     Templeton Foreign Fund A
           Open ( NAV t+1 )                                             7.04
           Last price (Open or Close)                                   7.04
           Volume                                                    355.114
           Notional Cost ( Incl. Vat & Fee )                            2500
           unrealized P/L                                               2500
           Performance(%)                                                  0
           NaN                                                           NaN
           Buy Symbol                                                    NaN
           Sell Symbol                                                   NaN
           NaN                                                           NaN
2011-01-05 Name                               SEI Core Fixed Income A (SIIT)
           Open ( NAV t+1 )                                            10.19
           Last price (Open or Close)                                  10.19
           Volume                                                    245.339
           Notional Cost ( Incl. Vat & Fee )                            2500
           unrealized P/L                                               2500
           Performance(%)                                                  0

In [52]:
df_test = data_test.copy()
df_test.set_index('Group/Investment',inplace = True)

NameError: name 'data_test' is not defined

In [ ]:
test_name = name_table.reset_index()

In [ ]:
'''
for i in range(1,len(name_table)):
    x = []
    for j in range(1,11):
        if df_test.loc[test_name.iloc[i,j],'Morningstar Category'] in x:
            pass
        else:
            x.append(df_test.loc[test_name.iloc[i,j],'Morningstar Category'])
    print(len(x))
'''

In [ ]:
df_test.loc['Templeton Foreign Fund A','Morningstar Category']

In [ ]:
#g = data_test.groupby('Morningstar Category')

In [ ]:
#g.groups.keys()

In [ ]:
#g.get_group('EAA Fund Global Large-Cap Value Equity')

In [ ]:
#name_table.iloc[0,4]

In [ ]:
#performance.to_excel('/Users/oat/Desktop/งาน/data fund/US/US_cal_year.xlsx.xlsx')

In [ ]:
def Get_symbol(data):
    df = data.copy()
    #sortdata
    
    #get symbol
    #set port